{
    "arrowParens": "always",
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 100,
    "semi": true,
    "bracketSpacing": true
  }
  