/* Sidebar styles */
.sidebarContainer {
  width: 200px;
  background-color: #f2f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px; /* half the padding */
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  height: 100%;
}
.podcastIcon > h1 {
  color: #807f85;
  margin: 0;
}
